.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius:15px ;
}

.rContainer {
  background-color:#ffebeb;
  padding: 20px;
  position: relative;
  border-radius: 15px;
  border: 4px solid grey;
}

.rClose {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 20px;
  color:#000000;
  background-color:#ffebeb;
}

.rItem {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle {
  font-weight: 500;
}

.rDesc {
  font-weight: 400;
}

.rMax {
  font-weight: 200;
  font-size: 12px;
}

.rPrice {
  font-weight: 200;
  font-size: 12px;
}

.rSelectRooms {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 8px;
  color: gray;
}

.room {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}


.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #c20000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}
.rCheckBox{
  height: 15px;
  border: 2px solid rgb(128, 128, 128);
}