.featured{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem{
  position: relative;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1;
  margin: 10px;
  padding: 10px;
  border: 4px solid rgb(233, 224, 224);
}

.featuredImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.featuredTitles{
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-weight: bolder;
}

.loading{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: Grey;
  animation: loading 2s forwards infinite alternate ;
}
@keyframes loading{
  to{
    opacity: 0.2;
  }
  
}